/* 
  CSS Style Sheet for snake.php 
  Author: Bo Broadway Date: 2/11/16 
*/

body {
    background-color: black;
    width: 1000px;
    margin: auto;
}

h1 {
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}

canvas {
    display: block;
    position: absolute;
    border: 1px solid black;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
